@{
ViewData["Title"] = "NECO";
}
<div class="text-center">
    <h1 class="display-4">NECO</h1>
    <p>NECO is a chatbot that can help you with your NECO related queries.</p>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Name</label>
                <p class="form-control-static">Lorem Ipsum</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>School Number</label>
                <p class="form-control-static">123456</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>School Email</label>
                <p class="form-control-static">example@school.edu</p>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="form-group">
                <label>Name</label>
                <p class="form-control-static">Lorem Ipsum</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>School Number</label>
                <p class="form-control-static">123456</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>School Email</label>
                <p class="form-control-static">example@school.edu</p>
            </div>
        </div>
    </div>
</div>