@{
ViewData["Title"] = "NECO";
}
<div class="text-center mb-5">
    <h1 class="display-4">NECO</h1>
    <p class="lead">NECO is a chatbot that can help you with your NECO related queries.</p>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card-deck mb-4">
                <!-- Student 1 -->
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Cenker Özkan</h5>
                        <div class="mb-3">
                            <small class="text-muted">School Number</small>
                            <p class="card-text">20244710068</p>
                        </div>
                        <div>
                            <small class="text-muted">School Email</small>
                            <p class="card-text">ozkan.cenker@student.atilim.edu.tr</p>
                        </div>
                    </div>
                </div>

                <!-- Student 2 -->
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Ali Al-Fatlawi</h5>
                        <div class="mb-3">
                            <small class="text-muted">School Number</small>
                            <p class="card-text">21244710119</p>
                        </div>
                        <div>
                            <small class="text-muted">School Email</small>
                            <p class="card-text">al-fatlawi.ali@student.atilim.edu.tr</p>
                        </div>
                    </div>
                </div>

                <!-- Student 3 -->
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Ahmed Abdulla Meloud Abuzed</h5>
                        <div class="mb-3">
                            <small class="text-muted">School Number</small>
                            <p class="card-text">20244710109</p>
                        </div>
                        <div>
                            <small class="text-muted">School Email</small>
                            <p class="card-text">abuzed.ahmed@student.atilim.edu.tr</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>