@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome to NECOBot</h1>
    <h2 class="display-6">NECOBot is an LLM powered helper to find relevant contents in need4code.com</h2>
</div>